@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-100 font-sans antialiased;
    margin: 0;
    padding: 0;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-zinc-950;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-700 rounded-full;
  }
}
